html {
  overflow: auto !important;
}
.v-btn {
  text-transform: none !important;
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-display: auto;
  unicode-range: U+000-5FF;
  src: url("../assets/font/Roboto/Roboto-Regular.ttf");
}

.v-field__outline {
  color: rgb(var(--v-theme-primary));
}
